* {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  color: white;
}

h1 {
  font-size: 100px;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  color: black;
  font-size: 35px;
  font-family: 'Abril Fatface', cursive;
}

.card p {
  color: black;
}

a {
  color: ivory;
}

hr {
  background-color: white;
}

.logo {
  font-size: 35px;
  margin: 10px;
}

header {
  width: 100vw;
  position: sticky;
  z-index: 100;
  top: 0%;
  left: 0%;
}

.navbar {
  background-color: black;
  opacity: 50%;
}
.nav {
  font-size: 25px;
  margin-left: auto;
}

.nav li {
  margin: 30px;
}

.bio {
  font-size: 30px;
}

.about {
  margin-top: 60px;
}

.about-me {
  margin: 40px;
}

#author {
  width: 100%;
}

footer {
  
  background-color: black;
}

footer ul {
  display: flex;
  justify-content: space-between;
}