*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'DM Sans';
  line-height: 1.5;
  text-decoration: none;
}

:root {
  --letter-gray: rgb(59,59,59);
  --dark-bluish-gray: rgb(33, 33, 42);
  --bluish-gray: rgb(46, 46, 58);
  --light-bluish-gray: rgb(63, 63, 81);
  --redish: rgb(221, 0, 118);
  --mint: rgb(0, 255, 225);
  --light-gray: rgb(236, 224, 224);
}

a, li {
  text-decoration: none;
  list-style: none;
}


.title {
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--letter-gray);
}

.title-light {
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: var(--letter-gray);
  margin: auto;
}

.underline-light {
  width: 60px;
  height: 4px;
  background-color: white;
  margin: auto;
}

.bio {
  font-size: 24px;
}

.bio-med {
  font-size: 27px;
}

.bio-med-ul {
  font-size: 27px;
  text-decoration: underline;
}

.bio-small {
  font-size: 24px;
}
.bio-shmed {
  font-size: 21px;
}

.tiny-text {
  font-size: 14px;
}

.redbox {
  border: none;
  --c: var(--redish);
  --b: 2px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  font-size: 16px;
}

.redbox:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}
