*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgb(56, 56, 77);
  font-family: 'Raleway';
  line-height: 1.5;
  text-decoration: none;
}


a:hover {
  color: rgb(255, 0, 136);
  transition: .635s;
}

span a:hover {
  color: #003073;
}

a {
  text-decoration: none;
  color: white;
  line-height: 140%;
  letter-spacing: 3px;
}

span a {
  color: rgb(255, 0, 136);
}

.bio {
  font-size: 30px;
}

.bio-med {
  font-size: 27px;
}

.bio-med-ul {
  font-size: 27px;
  text-decoration: underline;
}

.bio-small {
  font-size: 24px;
}
.bio-shmed {
  font-size: 21px;
}

.tiny-text {
  font-size: 14px;
}

#techUsed ul {
  list-style: circle;
}

#techUsed ul li {
  padding: 10px;
}

.example-code {
  max-width: 750px;
  overflow: hidden;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

.movies {
  width:  100%;
  height: 35vh;
  object-fit: cover;
}

.movies:hover {
  opacity: .4;
  transition: .6253s;
}

.blogs {
  width:  100%;
  height: 35vh;
  object-fit: contain;
}

.blogs:hover {
  opacity: .4;
  transition: .6253s;
}

.big-movies {
  width: 70vw;
  height: 70vh;
  object-fit: contain;
}
.icon:hover {
  opacity: .49;
  transition: .625;
}

.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#crazy {
  background-color:rgb(0,38,73,1);
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
  background-image: -webkit-linear-gradient(135deg, rgba(0,38,73,1), rgba(0,13,54,1) 100%);
  background-image: -moz-linear-gradient(45deg, rgba(0,38,73,1), rgba(0,13,54,1) 100%);
  background-image: -ms-linear-gradient(45deg, rgba(0,38,73,1), rgba(0,13,54,1) 100%);
  background-image: -o-linear-gradient(45deg,rgba(0,38,73,1),rgba(0,13,54,1) 100%);
  background-image: linear-gradient(135deg, rgba(0,38,73,1), rgba(0,13,54,1) 100%);
  margin: 0px;
  overflow: hidden;
  height: 100vh;
}

.hex {
  margin: 0 auto;
  width: 420px;
  height: 370px; /* width * 0.866 */
  box-sizing: border-box;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
  width: 420px; /* container height - (border thickness * 2) */
  height: 370px; /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

#text {
  padding-top: 10rem;
  color: white; 
  font-size:4vw; 
}

#textTwo {
  color: white; 
  font-size:4vw; 
}

#text span {
  color: rgb(255, 0, 136);
  font-weight: 600;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.revealTwo{
  position: relative;
  opacity: 0;
  transition: 2s all ease;
}
.revealTwo.activeTwo{
  opacity: 1;
}

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left, .slide-right {
  display: flex;
  justify-content: center;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: rgb(59,59,59);

}

.redbox {
  border: 2px solid rgb(221, 0, 118);
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
}

.button {
  color:rgb(56, 56, 77); 
  font-size: 2vw; 
  border: 2px solid rgb(255, 0, 136); 
  padding: 6px 12px 6px 12px; 
  border-radius: 4px;
}
.button:hover {
  transition: .625;
  opacity: .4;
  border: 2px solid rgb(0, 0, 0) .4;
}

.button-light {
  color:rgb(256, 252, 252); 
  font-size: 2vw; 
  border: 2px solid rgb(0, 255, 225); 
  padding: 6px 12px 6px 12px; 
  border-radius: 4px;
}
.button-light:hover {
  color:rgb(194, 210, 246); 
  border: 2px solid rgb(47, 68, 104);; 
  border-radius: 4px;
}

